{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Todo Application</title>
  <link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">
</head>

<body>
  <div class="form-group">
    <h1>To-Do <small>List</small></h1>

    <form action="{% url 'todo:addTask' %}" method="post">
      {% csrf_token %}
      <label for="NewTask">Task content:</label>
      <input type="text" name="newTask" id="NewTask">
      <input type="submit" value="add task">
    </form>
  </div>

  <div></div>

  {% if task_list %}
  <ul class="list-unstyled" id="todo">
    {% for task in task_list %}
    <ul>
      <li>
        <a class="{% if task.is_done %}task-done{% endif %}"
          href="{% url 'todo:editTask' task.id %}">{{ task.content }}</a>
      </li>
      {% if task.is_done is False %}
      <li class="done">
        <a href="{% url 'todo:finishTask' task.id %}">Done</a>
      </li>
      <li class="delete">Delete</li>
      {% endif %}
    </ul>
    {% endfor %}
  </ul>
  {% else %}
  <p>No task found.</p>
  {% endif %}
</body>

</html>